* {
  padding: 0;
  margin: 0;
  background: black;
  font-family: "FR73Pixel";
}
.main-canvas {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.reloadbtn {
  position: fixed;
  left: 50%;
  top: 70%;
  font-size: 1.1em;
  transform: translate(-50%,-50%);
  border: 2px solid white;
  outline: none;
  color: white;
  font-weight: bold;
  background: black;
  padding: 5px 10px;
}
.activerlb {
  background: white;
  color: black;
}
.reloadbtn:hover {
  background: white;
  color: black;
}
.hidden {
  display: none;
}
